/* styles.css */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.page {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .sidebarIcon {
    padding: 10px;
    cursor: pointer;

  }
  
  .sidebar {
    width: 300px;
    background-color: #F0F8FF; /* Cyan color */
    padding: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    margin-top: 5vh;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #faf8f8;
  }
  
  .profileImage {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 40px; /* Make it round */
  }
  
  .profileTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .sidebarBottom {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    bottom: 0;
    left: 0;
  }
  
  .sidebarButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin: 10px;
    padding: 5px;
    width: 40%;
    cursor: pointer;
    background-color: #28B498;
    color: #F0F8FF;
    border: 0px; /* Border color */
    border-radius: 5px; /* Optional: Add border radius for rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.sidebarButton:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
  
  .buttonText {
    margin-left: 10px;
  }
  
  .course-container {
    display: flex;;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
  }

  .courseadd-container {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    position: relative;
  }

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .courseImage {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 0;
    padding: 5px;
  }

  .courseDescription {
    font-size: small;
  }
  
  .viewContentButton {
    display: flex;
    color: white;
    background-color: #28B498;
    border-radius: 5px;
    padding: 10px 20px;
    align-items: center;
    margin-top: 20px;
    width: 30%;
    cursor: pointer;
    justify-content: center;
    border: 0px;
  }

  .addButton {
    display: flex;
    background-color: #28B498;
    border-radius: 5px;
    padding: 10px 20px;
    align-items: center;
    margin-top: 20px;
    width: 30%;
    cursor: pointer;
    justify-content: center;
  }

  .addButton:hover {
    box-sizing: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .addButton:active {
    box-sizing: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  .addButtonLabel {
    color: white;
    font-size: 16px;
  }
  

  .mainContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .titleContainer {
    display: flex;
    flex-direction: column;
    font-size: 64px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
  }
  
  .resultContainer,
  .historyItem {
    flex-direction: row;
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
  }
  
  .historyContainer {
    flex-direction: column;
    display: flex;
    height: 200px;
    align-items: center;
    flex-grow: 5;
    justify-content: flex-start;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 260px;
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .inputContainer > .errorLabel {
    color: red;
    font-size: 12px;
  }
  
  .inputBox {
    height: 48px;
    width: 400px;
    font-size: large;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 8px;
  }


  .container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    position: relative;
  }
  
  .nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
    cursor: pointer;
    height: 75px;
    width: 175px;
  }

  .navR {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
    height: 75px;
    width: 175px;
  }

  .navin {
    display: flex;
    align-items: center;
  }

  .logoimg {
    display: flex;
    position: relative;
    left: 0;
    cursor: pointer;
    height: 50px;
    width: 50px;
  }

  .logoimg img {
    height: 100%; /* Ensures the image fits the container */
    width: 100%;  /* Ensures the image fits the container */
    border-radius: 40%; /* Makes the image circular */
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
  }
  
  .logotext {
    display: flex;
    position: relative;
    color:#28B498;
    font-size: large;
    font-weight: 800;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    margin-left: 20px;
    text-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .login {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 8;
    height: 100%;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  }
  
  .signup {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 4;
    height: 100%;
    background-color: #28B498;
    color: white;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  }
  
  .input {
    height: 50px;
    border-radius: 5px;
    border: 0;
    margin: 10px;
    background-color: #EDF5F3;
    width: 50vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-size: 12px;
  }
  
  .Loginbutton {
    height: 50px;
    width: 50vh;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    margin-top: 20px;
    background-color: #28B498;
    color: white;
    font-size: 20px;
  }
  
  .Signupbutton {
    height: 50px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    margin-top: 20px;
    background-color: white;
    color: black;
    font-size: 20px;
  }

  .ForgotButton {
    margin-top: 20px;
    color: #28B498;
    cursor: pointer;
    font-size: larger;
  }

  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    padding: 0.5rem;
    border-radius: 5px;
    margin-right: 1rem;
    width: 75vh;
    height: 6vh;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border: 0;
  }
  
  .search-bar button {
    padding: 0.5rem 1rem;
    background-color: #28B498;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 6vh;
    width: 120px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }

  .search-bar .icon {
    padding: 0.5rem 1rem;
    background-color: #28B498;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 4vh;
    width: 25px;
    font-size: 1.5rem; 
    margin-right: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }

  
  
  .user-info {
    font-style: italic;
    display: flex;
    align-items: center;
    padding-right: 100px;
    margin-left: -100px;
  }

  div .icon {
    margin-right: 15px;
    color:#28B498;
  }

  .user-info img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  
  

  /* Specific section styles */

  .dashboard{
    font-size: 10px;
    position: inherit;
    border: 0;
  }

  .dashboard h2 {
    padding: 10px;
    border-radius: 5px;
  }

  .dashboard .dashboard-navigation {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 76vh;
    justify-content: space-between;
    align-items: start;
  }


  .dashboard div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .notifications,
  .resources,
  .quiz-history,
  .support {
    /* Add common styles for these sections */
    .description p {
      margin-bottom: 0.5rem;
    }
  }

  .resources h2{
    color: #28B498;
  }
  
  .resources .achievements,
  .quiz-history .achievements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .resources .achievements span:first-child,
  .quiz-history .achievements span:first-child {
    font-weight: bold;
  }
  
  .resources .achievements a,
  .quiz-history .achievements a {
    text-decoration: none;
    color: #007bff; /* Blue */
  }

  .achievements{
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    height: auto;
  }


  .achievements .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: start;
    width: 100%;
  }

  .courseTitle {
    display: flex;
    margin-bottom: 20px;
    background-color: #ededed;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: #28B498;
    font-weight: 600;
  }

.boxcontainer {
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom right, #f0eeee, #59595c);
  cursor: pointer;
  color: white;
  border-radius: 5px;
  margin: 30px;
  }

  .courseDescription {
    border-radius: 5px;
    font-size: 10px;
    width: 80%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .quiz-history .trophy {
    text-align: center;
    margin-top: 1rem;
  }
  
  .trophy img {
    width: 70px; /* Adjust image size as needed */
    height: 70px;
    margin: 5px;
  }
  
  .user-actions {
    text-align: center;
    margin-top: 1rem;
  }
  
  .user-actions p {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    color: #888;
  }
  
  .user-actions a,
  .user-actions button {
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .main {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping to keep columns side by side */
    padding: 1rem;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
    flex-direction: row;
    background-color: #faf8f8;
  }
  
  .main section {
    margin: 1rem;
    padding: 1rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    min-width: 200px; 
  }

  .dashboard {
    flex-grow: 2;
    max-width: 20%;
    min-width: 20%;
    min-height: 80vh;
  }
  
  .resources {
    flex-grow: 8;
    max-width: 60%;
    max-width: 60%;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .rside-bar {
    flex-grow: 2;
    max-width: 20%;
    min-width: 20%;
  }
  .current-page{
    background-color: #28B498;
    color: white;
    padding: 10px;
    border-radius: 5px;
    min-width: 170px;
    display: flex;
  }

   .current-icon{
    margin-right: 10px;

  }

  
.trophy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.users-online {
  height: 100px;
  min-width: 100px;
}

.Medal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.achievements-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Topics {
  display: flex;
  height: 100px;
  width: 200px;
  border-radius: 5px;
  background-color: #28B498;
  justify-content: center;
  cursor: pointer;
  color: white;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.topic-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
}

.Profile {
  cursor: pointer;
}

.profile-stats {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 30%;
  align-items: center;
  background-color: #eeeeee;
  border-radius: 5px;
}

.profile-stats img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-stats div {
  margin-bottom: 10px;
  font-family:Arial, Helvetica, sans-serif;
  color: #28B498;
  font-weight: bold;
}

.profile-container {
  display: flex;
  justify-content: start;
}

.general-information {
  display: flex;
  flex-direction: column;
}

.general-container {
  margin: 10px;
  background-color: #eeeeee;
  min-width: 65vh;
  min-height: 25vh;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
}

